.navbar {
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: rgb(247, 111, 0);
    border-bottom: 4px solid white;
    font-weight: bold;
    justify-content: space-between;
    box-shadow: white;
    position: fixed;
    z-index: 1px;
}

.ul {
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
    color: white;
}

.ul li {
    font-style: medium;
    list-style: none;
    margin: 0 0.5rem;
    cursor: pointer;
}
